<%- include('./partials/head.ejs') %>
<%- include('./navbar.ejs') %>
<div class="loginForm">
    <h1> Login </h1>
    <form method="POST" action="/auth/login" >
        <div class="loginBody">
        <label for="mail"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="mail" id="mail" required>
    
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" id="password" required>

        <button type="submit"> Login </button>
        </div>
    </form>
</div>
<%- include('./partials/footer.ejs') %>